@font-face {
    font-family: 'Roboto';
    src: url("*../fonts/Roboto/roboto.woff") format("woff");
    font-display: swap;
}
#footer {
    background:url(../img/bg-motif.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    margin-top: 50px;
}
#main {
    width: 80%;
    margin: 0 auto;
    /*margin: 10px 50px 50px 10px;
    margin: 0 auto 0;*/
}
h1{
    text-align: center;
    color: red;
    font-size: 32px;
    margin: 20px 0 50px 0;
}
nav ul {
    width: 70%;
    margin: 0 auto;
    background-color: silver;
    height: 50px;
    margin: 0 auto;
   
}
nav ul li{
    margin-right: 20px;
    
    float: left;
    
}